// font-family: 'Roboto', sans-serif;
// font-family: 'Open Sans Condensed', sans-serif;

html, ::before, ::after {
	box-sizing: border-box;
	font-size: 16px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

.app {
	max-width: 1000px;
	height: 200vh;
	margin: 0 auto;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #555555;
	padding-top: 3vh;
}

.header {
	width: 100%;
	max-height: 8vh;
	position: absolute;
}

.header--ishidden {
	//left: -100vw;
}

.header__wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1000px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 2rem 1rem 2rem;
	background-color: #ffffff;
}

.header__logo {
	font-family: 'Roboto', sans-serif;
	font-size: 1.1rem;
	letter-spacing: 0.3rem;
	text-transform: uppercase;
	width: 40%;
}

.header__link {
	display: block;
	text-decoration: none;
	color: #555555;
}

.header__nav {

}

.nav{
	width: 60%;
	//padding: 0 2rem;
	display: flex;
	justify-content: space-around;
}

.nav__link {
	color: #555555;
	font-size: 2.5rem;
	text-decoration: none;
}

.players-stat {
	width: 100vw;
	//padding: 0 0.5rem;
}

.players-stat__header {
	width: 100vw;
	height: 3vh;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.players-stat__activity {
	text-transform: capitalize;
	font-weight: 700;
	width: 20vw;
	text-align: center;
}

.players-stat__players {
	width: 100vw;
	height: 94vh;
}

.player {
	width: 100vw;
	display: flex;
	align-items: center;
} 

.player--ingame {
	height: 15.6vh;
}

.player__name {
	width: 20vw;
	max-height: 15.6vh;
	height: 15.6vh;
	display: flex;
	align-items: center;
	text-decoration: underline dotted;
	word-break: break-all;
	overflow: hidden;
	font-size: 0.8rem;
	padding-left: 0.5rem;
}

.player__stats {
	width: 80vw;
	height: 15.6vh;
	display: flex;
}

.stat {
	width: 20vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.stat__item {
	width: 90%;
	height: 4.8vh;
	line-height: 4.5vh;
	margin: 0 auto;
	text-align: center;
	color: white;
}

.stat__item--good {
	background-color: #4CAF50;
}

.stat__item--normal {
	background-color: #FFEB3B;
	color: inherit;
}

.stat__item--bad {
	background-color: #f44336;
}

