// font-family: 'Roboto', sans-serif;
// font-family: 'Open Sans Condensed', sans-serif;

html, ::before, ::after {
	font-size: 16px;
}

* {
	margin: 0;
	padding: 0;
}

.header {
	position: absolute;
}

.infopanel {
	position: absolute;
	top: 0;
	right: 0;
	width: 70vw;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: #4CAF50;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1rem;
	text-transform: capitalize;
}

.full-nav {
	position: absolute;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000000;
	opacity: 0.9;
}


.full-nav--ishidden {
	display: none;
}

.full-nav__box {
	width: 80vw;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.full-nav__item {
	color: #ffffff;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-size: 1.4rem;
	text-align: center;
}

.full-nav__submenu {
	width: 100%;
	height: 0vh;
	transform: scale(0);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	transition: height 0.3s linear;
}

.full-nav__input {
	display: none;
}

.full-nav__input:checked ~ .full-nav__submenu{
	height: 40vh;
	transform: scale(1);
}

.full-nav__input:checked ~ .full-nav__item{
	color: #FFEB3B;
}

.new-player {
	display: flex;
	flex-wrap: wrap;
	text-transform: capitalize;
	font-weight: 400;
	font-size: 1rem;
}

.new-player__row {
	width: 80vw;
	height: 6vh;
	display: flex;
	align-items: center;
}

.new-player__row--name {
	height: 5vh;
	justify-content: center;
}

.new-player__input {
	width: 55vw;
	margin-left: 2rem;
	border: none;
	border-bottom: 1px solid #ffffff;
	background-color: rgba(0, 0, 0, 0.9);
	color: #FFEB3B;
	font-size: 1.5rem;
	font-weight: 400;
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: capitalize;
	text-align: center;
}

.new-player__input--text:active {
	outline: none;
}

.new-player__input--text:focus {
	outline: none;
	border-bottom-color: #FFEB3B;
}

.new-player__row--role {
	height: 19vh;
	flex-wrap: wrap;
	justify-content: space-around;
}

.new-player__heading {
	width: 80vw;
}

.new-player__role {
	width: 14vw;
	height: 14vw;
	max-height: 14vw;
	box-sizing: border-box;
	padding: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	outline: 1px solid #ffffff;
	font-size: 0.8rem;
	font-family: 'Open Sans Condensed', sans-serif;
}

.new-player__role--checked {
	color: #FFEB3B;
	outline-color: #FFEB3B;
}

.new-player__row--type {
	justify-content: space-around;
}

.new-player__status {
	box-sizing: border-box;
	width: 30vw;
	height: 8vw;
	outline: 1px solid #ffffff;
	line-height: 8vw;
}

.new-player__status--checked {
	color: #FFEB3B;
	outline-color: #FFEB3B;
}

.new-player__row--ok {
	height: 11vh;
	align-items: flex-end;
	justify-content: center;
}

.new-player__ok {
	width: 50%;
	padding: 0.5rem;
	margin-bottom: 1rem;
	border: 1px solid #ffffff;
	background-color: transparent;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 1rem;
}

.full-nav__players {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.full-nav__player {
	width: 16vw;
	height: 13vw;
	margin: 0.3rem;
	border: 1px solid #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: capitalize;
	font-size: 0.9rem;
	font-weight: 400;
	font-family: 'Open Sans Condensed', sans-serif;
}

.full-nav__player-isReserve {
	border-color: #f44336;
	color: #f44336;
}


.full-nav__submenu-item {
	height: 10vh;
	line-height: 10vh;
	font-weight: 400;
	font-size: 1rem;
}

.full-nav__submenu-item--warning {
	color: #f44336;
}

.logo {
	position: absolute;
	width: 2.2vw;
	height: 2.2vw;
	margin-left: 0.5rem;
	margin-top: 0.5rem;
	border-radius: 50%;
	background-color: #f44336;
}

.logo--small {
	top: 50%;
	left: 50%;
}

.logo--full {
	position: absolute;
	left: 1vw;
	top: 3vw;
	transform: rotate(-45deg);
}

.logo::before {
	content: '';
	width: 2.2vw;
	height: 2.2vw;
	margin-left: 3vw;
	border-radius: 50%;
	display: block;
	background-color: #4CAF50;
}

.logo::after {
	content: '';
	width: 2.2vw;
	height: 2.2vw;
	margin-top: 1vw;
	border-radius: 50%;
	display: block;
	background-color: #FFEB3B;
}

.small-nav {
	position: fixed;
	top: -11vw;
	left: -11vw;
	width: 22vw;
	height: 22vw;
	border-radius: 50%;
	background-color: #555555;
}

.small-nav__box {
	position: absolute;
	top: 50%;
	left: 50%;
	padding-left: 0.5rem;
	padding-top: 0.5rem;
}

.small-nav__logo {
	width: 2.2vw;
	height: 2.2vw;
	border-radius: 50%;
	background-color: #f44336;
}

.small-nav__logo::before {
	content: '';
	width: 2.2vw;
	height: 2.2vw;
	margin-left: 3vw;
	border-radius: 50%;
	display: block;
	background-color: #4CAF50;
}

.small-nav__logo::after {
	content: '';
	width: 2.2vw;
	height: 2.2vw;
	margin-top: 0.6vw;
	border-radius: 50%;
	display: block;
	background-color: #FFEB3B;
}

.small-nav--ishidden {
	display: none;
}

.app {
	height: 200vh;
	margin: 0 auto;
	padding-top: 3vh;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #555555;
}

.players-stat {
	width: 100vw;
}

.players-stat__header {
	width: 100vw;
	height: 3vh;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.players-stat__activity {
	width: 20vw;
	text-transform: capitalize;
	font-weight: 700;
	text-align: center;
}

.players-stat__players {
	width: 100vw;
	height: 94vh;
}

.player {
	width: 100vw;
	display: flex;
	align-items: center;
} 

.player--ingame {
	height: 15.6vh;
}

.player__name {
	width: 20vw;
	height: 15.6vh;
	max-height: 15.6vh;
	padding-left: 0.5rem;
	display: flex;
	align-items: center;
	overflow: hidden;
	text-decoration: underline dotted;
	word-break: break-all;
	font-size: 0.8rem;
}

.player__stats {
	width: 80vw;
	height: 15.6vh;
	display: flex;
}

.stat {
	width: 20vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.stat__item {
	width: 90%;
	height: 4.8vh;
	margin: 0 auto;
	line-height: 4.5vh;
	text-align: center;
	color: white;
}

.stat__item--good {
	background-color: #4CAF50;
}

.stat__item--normal {
	background-color: #FFEB3B;
	color: inherit;
}

.stat__item--bad {
	background-color: #f44336;
}

@media screen and (orientation:landscape) and (max-height: 375px) and (min-height: 320px) {
	.full-nav__box {
		position: absolute;
		bottom: 7vh;
	}
	.full-nav__item {
		font-size: 1rem;
	}
	.new-player__input {
		font-size: 1rem;
	}
	.new-player__col {
		display: flex;
	}
	.new-player__row--name {
		width: 40vw;
	}
	.new-player__row--role {
		width: 40vw;
		height: 40vh;
	}
	.new-player__role {
		width: 16vw;
		height: 5vh;
	}
	.new-player__row--type {
		position: relative;
		top: -28vh;
		width: 40vw;
	}
	.new-player__status {
		box-sizing: border-box;
		width: 15vw;
		height: 10vh;
		outline: none;
		line-height: 10vh;
	}
	.new-player__row--ok {
		width: 40vw;
		position: relative;
		left: -40vw;
		top: -13vh;
		justify-content: center;
	}
	.full-nav__player {
		height: 6.5vh;
	}
}
@media screen and (orientation:landscape) and (max-height: 767px) and (min-height: 375px){
	.full-nav__item {
		font-size: 1.2rem;
	}
	.new-player__input {
		font-size: 1rem;
	}
	.new-player__role {
		height: 6vh;
		font-size: 1rem;
	}
	.new-player__status {
		width: 30vw;
		height: 6vh;
		line-height: 6vh;
	}
	.new-player__ok {
		width: 50%;
		padding: 0.2rem;
		margin-bottom: 0.5rem;
		font-size: 1rem;
	}
	.full-nav__player {
		height: 7vh;
	}
}

@media screen and (orientation:portrait) and (max-height: 1024px) {
	.full-nav__player {
		width: 20vw;
		height: 6.3vh;
	}
}

@media screen and (orientation:portrait) and (min-width: 768px) {
	.full-nav__item {
		font-size: 2rem;
	}

	.new-player {
		font-size: 1.5rem;
	}

	.new-player__role {
		font-size: 1.5rem;
	}

	.new-player__row--type {
		height: 12vh;
	}

	.new-player__row--ok {
		height: 6vh;
	}

	.new-player__ok {
		padding: 1rem;
		font-size: 1.5rem;
	}

	.full-nav__player {
		font-size: 1.5rem;
	}

	.full-nav__submenu-item {
		font-size: 1.5rem;
	}
}

@media screen and (orientation:landscape) and (min-height: 768px) {

	.infopanel {
		height: 3rem;
		font-size: 1.5rem;
	}

	.full-nav__item {
		font-size: 2rem;
	}

	.new-player {
		font-size: 1.5rem;
	}

	.new-player__role {
		width: 16vh;
		max-width: 16vh;
		height: 8vh;
		max-height: 8vh;
		font-size: 1.5rem;
	}

	.new-player__status {
		width: 30vw;
		height: 6vh;
		line-height: 6vh;
	}

	.new-player__row--type {
		height: 10vh;
	}

	.new-player__row--ok {
		height: 6vh;
	}

	.full-nav__player {
		width: 13vh;
		height: 13vh;
		font-size: 1.5rem;
	}

	.full-nav__submenu-item {
		font-size: 1.5rem;
	}

}

@media screen and (orientation: landscape) {
	.small-nav {
		top: -11vh;
		left: -11vh;
		width: 22vh;
		height: 22vh;
	}

	.logo {
		position: absolute;
		width: 2.2vh; 
		height: 2.2vh; 
		margin-left: 0.5rem;
		margin-top: 0.5rem;
		border-radius: 50%;
		background-color: #f44336;
	}

	.logo::before {
		content: '';
		width: 2.2vh; 
		height: 2.2vh; 
		margin-left: 3vh;
		border-radius: 50%;
		display: block;
		background-color: #4CAF50;
	}

.logo::after {
		content: '';
		width: 2.2vh; 
		height: 2.2vh; 
		margin-top: 1vh;
		border-radius: 50%;
		display: block;
		background-color: #FFEB3B;
	}
}
