// font-family: 'Roboto', sans-serif;
// font-family: 'Open Sans Condensed', sans-serif;

html, ::before, ::after {
	font-size: 16px;
}

* {
	margin: 0;
	padding: 0;
}

.header {
	position: absolute;
}

.full-nav {
	position: absolute;
	width: 100vw;
	height: 101vh;
	background-color: #000000;
	opacity: 0.9;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.full-nav__box {
	width: 80vw;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.full-nav__item {
	color: #ffffff;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-size: 1.5rem;
	text-align: center;
}

.full-nav__submenu {
	transition: height 0.3s linear;
	height: 0vh;
	transform: scale(0);
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.full-nav__input {
	display: none;
}

.full-nav__input:checked ~ .full-nav__submenu{
	height: 40vh;
	transform: scale(1);
}

.full-nav__input:checked ~ .full-nav__item{
	color: #FFEB3B;
}

.new-player {
	display: flex;
	flex-wrap: wrap;
	text-transform: capitalize;
	font-weight: 400;
	font-size: 1rem;
}

.new-player__row {
	width: 80vw;
	display: flex;
	align-items: center;
	hieght: 6vh;
}

.new-player__row--name {
	height: 5vh;
}

.new-player__input {
	border: none;
	background-color: rgba(0, 0, 0, 0.9);
	margin-left: 2rem;
	border-bottom: 1px solid #ffffff;
	width: 55vw;
	height: 3rem;
	color: #FFEB3B;
	font-size: 2rem;
	font-weight: 400;
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: capitalize;
}

.new-player__input--text:active {
	outline: none;
}

.new-player__input--text:focus {
	outline: none;
	border-bottom-color: #FFEB3B;
}

.new-player__row--role {
	height: 21vh;
	flex-wrap: wrap;
	justify-content: space-around;
}

.new-player__heading {
	width: 80vw;
}

.new-player__role {
	box-sizing: border-box;
	outline: 1px solid #ffffff;
	width: 14vw;
	max-width: 14vw;
	height: 14vw;
	max-height: 14vw;
	font-size: 0.8rem;
	font-family: 'Open Sans Condensed', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem;
}

.new-player__role--checked {
	color: #FFEB3B;
	outline-color: #FFEB3B;
}

.new-player__row--type {
	justify-content: space-around;
}

.new-player__status {
	box-sizing: border-box;
	outline: 1px solid #ffffff;
	width: 30vw;
	height: 8vw;
	line-height: 8vw;
}

.new-player__status--checked {
	color: #FFEB3B;
	outline-color: #FFEB3B;
}

.new-player__row--ok {
	height: 11vh;
	align-items: flex-end;
	justify-content: center;
}

.new-player__ok {
	width: 50%;
	padding: 0.5rem;
	margin-bottom: 1rem;
	background-color: transparent;
	color: #ffffff;
	border: 1px solid #ffffff;
	text-transform: uppercase;
	font-size: 1rem;
}

.full-nav__players {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.full-nav__player {
	text-transform: capitalize;
	font-size: 0.9rem;
	font-weight: 400;
	font-family: 'Open Sans Condensed', sans-serif;
	border: 1px solid #ffffff;
	width: 16vw;
	height: 13vw;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0.3rem;
}

.full-nav__submenu-item {
	height: 10vh;
	line-height: 10vh;
	font-weight: 400;
	font-size: 1rem;
}

.full-nav--ishidden {
	
}

.logo {
	position: absolute;
	margin-left: 0.5rem;
	margin-top: 0.5rem;
	width: 2.2vw;
	height: 2.2vw;
	border-radius: 50%;
	background-color: #f44336;
}

.logo--small {
	top: 50%;
	left: 50%;
}

.logo--full {
	position: absolute;
	left: 1vw;
	top: 3vw;
	transform: rotate(-45deg);
}

.logo::before {
	content: '';
	display: block;
	width: 2.2vw;
	height: 2.2vw;
	border-radius: 50%;
	background-color: #4CAF50;
	margin-left: 3vw;
}

.logo::after {
	content: '';
	display: block;
	width: 2.2vw;
	height: 2.2vw;
	border-radius: 50%;
	background-color: #FFEB3B;
	margin-top: 1vw;
}

.small-nav {
	width: 22vw;
	height: 22vw;
	border-radius: 50%;
	background-color: #555555;
	position: fixed;
	top: -11vw;
	left: -11vw;
}

.small-nav__box {
	position: absolute;
	top: 50%;
	left: 50%;
	padding-left: 0.5rem;
	padding-top: 0.5rem;
}

.small-nav__logo {
	width: 2.2vw;
	height: 2.2vw;
	border-radius: 50%;
	background-color: #f44336;
}

.small-nav__logo::before {
	content: '';
	display: block;
	width: 2.2vw;
	height: 2.2vw;
	border-radius: 50%;
	background-color: #4CAF50;
	margin-left: 3vw;
}

.small-nav__logo::after {
	content: '';
	display: block;
	width: 2.2vw;
	height: 2.2vw;
	border-radius: 50%;
	background-color: #FFEB3B;
	margin-top: 0.6vw;
}

.small-nav--ishidden {
	display: none;
}

.app {
	max-width: 1000px;
	height: 200vh;
	margin: 0 auto;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #555555;
	padding-top: 3vh;
}

.players-stat {
	width: 100vw;
}

.players-stat__header {
	width: 100vw;
	height: 3vh;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.players-stat__activity {
	text-transform: capitalize;
	font-weight: 700;
	width: 20vw;
	text-align: center;
}

.players-stat__players {
	width: 100vw;
	height: 94vh;
}

.player {
	width: 100vw;
	display: flex;
	align-items: center;
} 

.player--ingame {
	height: 15.6vh;
}

.player__name {
	width: 20vw;
	max-height: 15.6vh;
	height: 15.6vh;
	display: flex;
	align-items: center;
	text-decoration: underline dotted;
	word-break: break-all;
	overflow: hidden;
	font-size: 0.8rem;
	padding-left: 0.5rem;
}

.player__stats {
	width: 80vw;
	height: 15.6vh;
	display: flex;
}

.stat {
	width: 20vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.stat__item {
	width: 90%;
	height: 4.8vh;
	line-height: 4.5vh;
	margin: 0 auto;
	text-align: center;
	color: white;
}

.stat__item--good {
	background-color: #4CAF50;
}

.stat__item--normal {
	background-color: #FFEB3B;
	color: inherit;
}

.stat__item--bad {
	background-color: #f44336;
}

